on:
  release:
    types: [published]

name: Upload Release Asset

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Branch name
        id: branch_name
        run: |
          echo ::set-output name=SOURCE_BRANCH::${GITHUB_REF#refs/heads/}
          echo ::set-output name=TARBALL::grammarly-focal-${GITHUB_REF#refs/tags/}.tgz
      - name: test
        run: |
          echo ${{ github.ref }}
          echo ${{ steps.branch_name.outputs.TARBALL }}
          echo ${{ steps.branch_name.outputs.SOURCE_BRANCH }}
          echo "$GITHUB_REF"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build project # This would actually build your project, using zip for an example artifact
        run: |
          yarn pack --filename ${{ steps.branch_name.outputs.TARBALL }}
          ls -alh
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@2.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./${{ steps.branch_name.outputs.TARBALL }}
          asset_name: ${{ steps.branch_name.outputs.TARBALL }}
          tag: ${{ github.ref }}
